<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="main">
    <div class="resource-categorized-list">
        <f:if condition="{resourcesByCategory}">
            <f:then>
                <f:for each="{resourcesByCategory}" as="item">
                    <f:if condition="{item.resources}">
                        <section class="resource-categorized-list__category">
                            <h2 class="resource-categorized-list__category-title">{item.category.title}</h2>
                            <f:if condition="{item.category.description}">
                                <p class="resource-categorized-list__category-description">{item.category.description}</p>
                            </f:if>
                            <ul class="resource-categorized-list__items">
                                <f:for each="{item.resources}" as="resource">
                                    <li class="resource-categorized-list__item">
                                        <div class="resource-categorized-list__item-content">
                                            <f:if condition="{resource.file}">
                                                <f:then>
                                                    <a class="resource-categorized-list__link"
                                                       href="{f:uri.image(image: resource.file)}"
                                                       download="{resource.file.originalFile.name}"
                                                       title="{resource.title}">
                                                        <span class="resource-categorized-list__title">{resource.title}</span>
                                                    </a>
                                                </f:then>
                                                <f:else>
                                                    <span class="resource-categorized-list__title">{resource.title}</span>
                                                </f:else>
                                            </f:if>
                                            <f:if condition="{resource.description}">
                                                <div class="resource-categorized-list__description">
                                                    <f:format.html>{resource.description}</f:format.html>
                                                </div>
                                            </f:if>
                                            <f:if condition="{resource.membersOnly}">
                                                <span class="resource-categorized-list__badge resource-categorized-list__badge--members-only">
                                                    <f:translate key="label.membersOnly" extensionName="resource" />
                                                </span>
                                            </f:if>
                                        </div>
                                    </li>
                                </f:for>
                            </ul>
                        </section>
                    </f:if>
                </f:for>
            </f:then>
            <f:else>
                <p class="resource-categorized-list__empty">
                    <f:translate key="label.noResources" extensionName="resource" />
                </p>
            </f:else>
        </f:if>
    </div>
</f:section>
</html>
