<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="main">
    <div class="resource-info-box-widget">
        <f:if condition="{resources}">
            <f:then>
                <f:for each="{resources}" as="resource">
                    <div class="resource-info-box-widget__item">
                        <h3 class="resource-info-box-widget__title">{resource.title}</h3>
                        <f:if condition="{resource.description}">
                            <div class="resource-info-box-widget__description">
                                <f:format.html>{resource.description}</f:format.html>
                            </div>
                        </f:if>
                        <f:if condition="{resource.file}">
                            <div class="resource-info-box-widget__file">
                                <a class="resource-info-box-widget__link"
                                   href="{f:uri.image(image: resource.file)}"
                                   title="{resource.title}">
                                    <f:translate key="label.readMore" extensionName="resource" />
                                </a>
                            </div>
                        </f:if>
                        <f:if condition="{resource.membersOnly}">
                            <span class="resource-info-box-widget__badge resource-info-box-widget__badge--members-only">
                                <f:translate key="label.membersOnly" extensionName="resource" />
                            </span>
                        </f:if>
                    </div>
                </f:for>
            </f:then>
            <f:else>
                <p class="resource-info-box-widget__empty">
                    <f:translate key="label.noResources" extensionName="resource" />
                </p>
            </f:else>
        </f:if>
    </div>
</f:section>
</html>
